@charset "UTF-8";

* {
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "游ゴシック体", "Yu Gothic", "sans-serif";
/*	font-weight: 100;*/
}
body {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	
}
footer {
	font-size: 10px;
	text-align: center;
	margin-bottom: 10px;
}
#fc2_footer {
	width:70%;
}
.button a:link {
	text-decoration: none;
	color: black;
	transition: 0.5s;
}
.button a:hover {
	color: white;
	transition: 0.3s;
}
.setting {
	width: 100%;
	height: 500px;
	text-align: center;
}
.setting p {
	margin-top: 100px;
	font-size: 4vw;
}
.video {
	position: relative;
	height: 0;
	padding: 0px 0 56.25%;
	overflow: hidden;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-smart {
	
	position: relative;
	height: 0;
	padding: 0px 0 177.5%;
	overflow: hidden;
}
.video-smart iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 480px) {
html, body {
	padding: 0;
	width: 100%;
	height: 100%;
	padding-top: 10vw;
	margin-bottom: 100px;
}
f1 {
	margin-left: 1vw;
	font-size: 6.4vw;
}
f5 {
	margin-left: 3vw;
	font-size: 4.2vw;
}
.topprofile {
	margin-top: 18vw;
	font-size: 3.5vw;
}
.topprofile li {
	list-style-type: none;
	line-height: 7.8vw;
}
.topprofile p {
	font-size: 5vw;
}
.pictmini {
	margin-top: 2vw;
	margin-left: 10%;
	margin-right: 5%;
	width: 40%;
	float: left;
}
.pictmini img {
	width: 100%;
	margin-top: -2vw;
}
.pictmini p {
	font-size: 5.0vw;
}
.info {
	position: relative;
	font-size: 3.5vw;
	margin-top: 1vw;
	vertical-align: top;
	text-align: justify;
	text-justify: inter-ideograph;
	width: 85%;
}
.info p {
	margin-left: 20%;
}
.profile {
	width: 100%;
	margin-top: 4vw;
	margin-left: 6vw;
	margin-bottom: 50vw;
	font-size: 3vw;
}	
.profile img{
	margin-left: 10%;
	margin-right:auto;
	
}
.profile ul {
	margin-top: 1vw;
	margin-left: -3vw;
	font-size: 3.5vw;
}
.profile li {
	line-height: 6.5vw;
	list-style-type: none;
}
.pict {
	margin-right:auto;
	margin-left:auto;
	margin-top: 7vw;
	width: 50%;
}
.pict img {
	border-radius: 3vw;
}
.caution {
	margin-top: -10px;
	margin-left: 45%;
	margin-bottom: -20px;
	font-size: 10px;
}
.video-smartwidth{
	margin-right:10vw;
	margin-left:10vw;
}
.share-wrap{
	margin-top:10px;
	margin-bottom:0px;
	position:relative;
	margin-left:10%;
}
.tw-button{
	float: left; 
}
.fb-button{
	float: left; 
	line-height: 0;
	margin-left:3%;
}
.line-button{
	float: left; 
	margin-left:3%;
}
}

@media screen and (min-width:481px) {
html, body {
	padding: 0;
	width: 100%;
	height: 100%;
	padding-top: 22px;
	margin-bottom: 100px;
}
f1 {
	margin-left: 10px;
	font-size: 3.0vw;
}
f5 {
	margin-left: 20px;
	font-size: 1.5vw;
}
.topprofile {
	width: 25%;
	float: left;
	margin-left: 1vw;
	margin-top: 9vw;
	font-size: 1.5vw;
}
.topprofile ul {
	list-style-position: outside;
	margin-left: -2vw;
}
.topprofile li {
	list-style-type: none;
	line-height: 2.8vw;
}
.topprofile p {
	font-size: 2vw;
}
.pictmini {
	margin-top: 3vw;
	margin-left: 2vw;
	width: 15%;
	float: left;
}
.pictmini img {
	width: 100%;
}
.pictmini p {
	font-size: 2.5vw;
}
.profile {
	width: 50%;
	float: left;
	margin-left: 5vw;
	margin-top: 5vw;
	font-size: 2vw;
}
.profile img{
	 float:left;
}
.profile ul {
	margin-top: 1vw;
	font-size: 1.5vw;
}
.profile li {
	line-height: 3.5vw;
	list-style-type: none;
}
.pict {
	margin-top: 5vw;
	width: 40%;
	float: left;
}
.pict img {
	border-radius: 3vw;
}
.info {
	position: relative;
	font-size: 1.5vw;
	margin-top: 50px;
	vertical-align: top;
	text-align: justify;
	text-justify: inter-ideograph;
	width: 45%;
	float: left;
}
.info p {
	margin-left: 40%;
}
.caution {
	margin-top: -10px;
	margin-left: 55%;
	margin-bottom: -20px;
}
.video-smartwidth{
	margin-top:10vw;
	margin-left: 23vw;
	margin-right: 23vw;
}
.share-wrap{
	position:relative;
	margin-left:65%;
	 margin-top:0;
}
.tw-button{
	float: left; 
}
.fb-button{
	float: left; 
	line-height: 0;
	margin-left:3%;
}
.line-button{
	float: left; 
	margin-left:3%;
}
}
