@charset "UTF-8";

*{
	font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo","游ゴシック体", "Yu Gothic",  "sans-serif";
}


html,body{
	margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
	padding-top:30px;    /* 上下に160pxを余白を取る */
}  

.text main{
	position:relative;
	margin-left: 150px;
}

footer{
	font-size: 10px;
	text-align: center;
}