@charset "UTF-8";
@import url("animation.css");



.dropmenu{
  *zoom: 1;
  list-style-type: none;
  width: 960px;
  margin: 5px auto 30px;
  padding: 0;
	
}
.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}
.dropmenu:after{
  clear: both;
}
.dropmenu li{
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dropmenu li a{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  background: #ADADAD;
  color: #fff;
  font-size: 14px;
	font-family: "ヒラギノ角ゴ Pro","游ゴシック体", "Yu Gothic", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
  line-height: 1;
  text-decoration: none;
}
.dropmenu li ul{
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.dropmenu li ul li{
  width: 100%;
}
.dropmenu li ul li a{
  padding: 13px 15px;
  border-top: 1px solid #E7E7E7;
  background: #B4B4B4;
  text-align: left;
}
.dropmenu li:hover > a{
  background: #626262;
}
.dropmenu li a:hover{
  background: #626262;
}

