@charset "UTF-8";

.images{
	position: relative;
}
.images img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: auto;
}
.buttonR circle {
	position: absolute;
	width: 30px;
	height: 70px;
	right: 120px;
	bottom: 0;
	background: rgba(204,204,204,0.38);
	border-radius: 50px;
	z-index: 1;
}

.buttonR circle:hover{
	background: rgba(247,247,247,0.90);
}
.buttonR circle:active{
	background: rgba(179,72,74,1.00);
}
